# Programming Assignment 2 #
## Name       : Bhaskar Reddy Vanteddu ##
## 700 Number : 700757998

## Question 1:

In [11]:
for i in range(1,6):
    print(i*'*')
for j in range(4,0,-1):
    print(j*'*')

*
**
***
****
*****
****
***
**
*

## Question 2

In [17]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
for i in range(1,10,2):
    print(my_list[i])

20
40
60
80
100

## Question 3

In [26]:
x = [23, 'Python', 23.98]
x_type = []
for i in x:
    x_type.append(type(i))
print(x)
print(x_type)

[23, 'Python', 23.98]
[<class 'int'>, <class 'str'>, <class 'float'>]

## Question 4

In [35]:
sample_list = [1,2,3,3,3,3,4,5]
unique_list = list(set(sample_list))
unique_list

[1, 2, 3, 4, 5]

## Question 5

In [41]:
input_string =  'The quick Brow Fox'
upper_count = sum(1 for i in input_string if i.isupper())
lower_count = sum(1 for i in input_string if i.islower())
print('No. of Upper-case characters:   '+str(upper_count)+'\n'+'No. of Lower-case characters:   '+str(lower_count))

No. of Upper-case characters:   3
No. of Lower-case characters:   12